[class*="\$brand"] {
    display: flex;
    flex-direction: column;
    padding-block: var(--size-4);

    // background-color: var(--contrast-color);
    // color: var(--primary-color);
    >:not(:has(img, svg, video, iframe)) {
        width: 90vw;
        margin-inline: auto;
        text-align: center;
        padding-bottom: var(--size-2);

        // border: 2px solid red;
    }

    >:has(img, svg, video, iframe) {
        // height: 120px;
        // max-height: 500px;
        height: clamp(100px, 120px, 150px);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--size-4);
        overflow: hidden;
        max-width: 100%;
        flex: 1;
        flex-wrap: wrap;
        filter: grayscale(1) brightness(1);

        >* {
            width: clamp(150px, 200px, 300px);
            max-height: 150px;
            object-fit: contain;
        }
    }

    @media (prefers-color-scheme: dark) {
        >:has(img, svg, video, iframe) {
        filter: grayscale(1) brightness(1);

        }
    }
}

;