.\$nav-1, .\$nav{
    position: sticky !important;
    position: -webkit-sticky; /* Safari */ 
    top: 0px;
    background-color: var(--primary-color);
    // order: 1;
    box-shadow: 0 0 25px -10px black;
    ~.\$hero-3{
        margin-top: calc(var(--size-6) * -1);
    }
}