button,
input[type="submit"],
input[type="reset"] {
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    padding: calc(var(--size-1) / 1.5) calc(var(--size-1));
    font-weight: bold !important;
    font-size: var(--size-1);
    background-color: var(--brand-color-2);
    color: var(--brand-color-contrast-1);
    letter-spacing: calc(var(--size-1) / 8);
    text-transform: capitalize;
    border-radius: calc(var(--size-1) / 2);
    margin-block: calc(var(--size-1) * 0.5);

    &:hover {
        opacity: var(--opacity-4);
    }

    @media (min-width: 768px) {
        margin-inline-end: var(--size-2);
    }
}

button,
a,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    transition: var(--timing-fast);
}

.\$button-outline{
    background-color: transparent !important;
    border: 2px solid var(--contrast-color) !important;
    color: var(--contrast-color) !important;
    &:hover {
        background-color: var(--contrast-color) !important;
        color: var(--primary-color) !important;
    }
}