.\$button-4 {

    &:is(button,
        input[type="submit"],
        input[type="reset"]),
    &:only-of-type>button {
        &:only-of-type>:is(button, input[type="submit"], input[type="reset"]) {
            background-color: var(--contrast-color) !important;
            color: var(--primary-color) !important;
        }

        background-color: var(--brand-color-2) !important;
        color: var(--contrast-color) !important;
    }
}

>:has(button, input[type="submit"],
    input[type="reset"]) {

    & :is(button,
        input[type="submit"],
        input[type="reset"]) {

        &:first-of-type {
            background-color: var(--contrast-color);
            color: var(--primary-color);
        }

        background-color: var(--brand-color-2);
        color: var(--contrast-color);
    }

}